<!-- Full Width Image Header with Logo -->
<!-- Image backgrounds are set within the full-width-pics.css file. -->
<header class="image-bg-fluid-height">
  <h1 class="section-heading text-center">About us</h1>
</header>
<!-- Content Section -->
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>How it is done</h2>

        <%= image_tag("aboutus.jpg", :class=>"img-responsive center-block") %>
        <p class="lead section-lead text-center">Travelling… What a wonderful thing to do… </p>
        <p class="section-paragraph text-justify">All around the planet there are out of this world landmarks to see (pun intended), incredible people to talk to and a handful of un-freakin believable activities to do and enjoy! Sometimes though, something gets in your way of making these astonishing experiences… Flight delays… All of us individually and as a team have experienced at least one delay so bad that we were forced to stay overnight at local hotels or inside the terminal.
          .</p>
        <p class="section-paragraph text-justify">That’s what brought us together to help each and every single one traveller to be prepared for such a thing…</p>
        <%= image_tag("forweb.png", :class=>"img-responsive center-block") %>
        <p class="section-paragraph text-justify">We formed our team at the SpaceApps challenge conducted in Limmasol, Cyprus. We had a look at the challenges listed but we couldn’t decide what to develop because we were passionate about, if not all, most of them… At the moment we saw the Clear for Take Off challenge in the Aeronautics sections we felt that it had to be done because every member of this team loves travelling, and as mentioned above, suffered from flight delays…</p>
      </div>
    </div>

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <h2>The Team</h2>
      <div class="col-lg-4">
        <img class="img-circle" src="https://s3.amazonaws.com/files.open.nasa.gov/spaceapps/media/default-avatars/Robot_Icons-04.svg" alt="Generic placeholder image" width="140" height="140">
        <h3>Panayiotis Georgiou</h3>
        <!--<p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>-->
        <!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="img-circle" src="https://s3.amazonaws.com/files.open.nasa.gov/spaceapps/media/default-avatars/Robot_Icons-05.svg" alt="Generic placeholder image" width="140" height="140">
        <h3>George Ioannidis</h3>
        <!--<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>-->
        <!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="img-circle" src="https://s3.amazonaws.com/files.open.nasa.gov/spaceapps/media/default-avatars/Robot_Icons-03.svg" alt="Generic placeholder image" width="140" height="140">
        <h3>Constantinos Georgiou</h3>
        <!--<p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>-->
        <!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
  </div>
</section>