


<!-- Full Width Image Header with Logo -->
<!-- Image backgrounds are set within the full-width-pics.css file. -->
<header class="image-bg-fluid-height">
  <h1 class="section-heading text-center">Results</h1>
</header>
<!-- Content Section -->
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h3>Feels like:</h3>
        <p></p><%= @results["current_observation"]["feelslike_c"]  %> &#8451; </p>
      </div>
    </div>
  </div>
</section>