<!-- Full Width Image Header with Logo -->
<!-- Image backgrounds are set within the full-width-pics.css file. -->
<header class="image-bg-fluid-height">
  <h1 class="section-heading text-center">Resources</h1>
</header>

<!-- Content Section -->
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2></h2>
        <img src="aboutus.jpg" class="img-responsive center-block">
        <p class="lead section-lead text-center">Travelling… What a wonderful thing to do… </p>
        <p class="section-paragraph text-justify">All around the planet there are out of this world landmarks to see (pun intended), incredible people to talk to and a handful of un-freakin believable activities to do and enjoy! Sometimes though, something gets in your way of making these astonishing experiences… Flight delays… All of us individually and as a team have experienced at least one delay so bad that we were forced to stay overnight at local hotels or inside the terminal.
          .</p>
        <p class="section-paragraph text-justify">That’s what brought us together to help each and every single one traveller to be prepared for such a thing…</p>
        <img src="forweb.png" class="img-responsive center-block">
        <p class="section-paragraph text-justify">We formed our team at the SpaceApps challenge conducted in Limmasol, Cyprus. We had a look at the challenges listed but we couldn’t decide what to develop because we were passionate about, if not all, most of them… At the moment we saw the Clear for Take Off challenge in the Aeronautics sections we felt that it had to be done because every member of this team loves travelling, and as mentioned above, suffered from flight delays…</p>
      </div>
    </div>
  </div>
</section>