<!-- Full Width Image Header with Logo -->
<!-- Image backgrounds are set within the full-width-pics.css file. -->
<header class="image-bg-fluid-height">
  <h1 class="section-heading text-center">Resources</h1>
</header>

<!-- Content Section -->
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="list-group">
          <a href="#" class="list-group-item active">
            Tools and Resources
          </a>
          <a href="#" class="list-group-item">Web developemnt - Ruby on Rails</a>
          <a href="#" class="list-group-item">Geokit Gem - Rails</a>
          <a href="#" class="list-group-item">Heroku Deployment</a>
          <a href="#" class="list-group-item">Bootstrap 3</a>
          <a href="#" class="list-group-item">wunderground api</a>
          <a href="#" class="list-group-item">http://www.jpss.noaa.gov/news-65.html</a>
          <a href="#" class="list-group-item">http://climate.dot.gov/documents/workshop1002/kulesa.pdf</a>
        </div>
      </div>
    </div>
  </div>
</section>