<footer>
   <!-- Footer -->
      <div class="footer">
        <div class="container">
          <div class="row">
            <div class="col-footer col-md-3 col-xs-6">
             
            </div>
            </div>

            <div class="col-footer col-md-2 col-xs-6">
              <h3>Stay Connected</h3>
              <a target="_blank" title="find us on Facebook" href="https://www.facebook.com/g.ioannidi5"><img alt="follow me on facebook" src="//login.create.net/images/icons/user/facebook_30x30.png" border=0></a>
              <a target="_blank" title="follow me on twitter" href="https://twitter.com/g_ioannidi5"><img alt="follow me on twitter" src="//login.create.net/images/icons/user/twitter_30x30.png" border=0></a>




               <a href="https://uk.linkedin.com/pub/giorgos-ioannidis/98/505/25a">
              <img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_viewmy_120x33.png" width="120" height="33" border="0" alt="View Giorgos Ioannidis's profile on LinkedIn"> </a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="footer-copyright"> &copy; <%= Time.now.year %> Online Voting System, Developed by <i class="icon-user"></i> gi00013</div>
            </div>
          </div>
        </div>
      </div>

        <!-- Javascripts -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/jquery-1.9.1.min.js"><\/script>')</script>
        <script src="js/bootstrap.min.js"></script>
        <script src="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.js"></script>
        <script src="js/jquery.fitvids.js"></script>
        <script src="js/jquery.sequence-min.js"></script>
        <script src="js/jquery.bxslider.js"></script>
        <script src="js/main-menu.js"></script>
        <script src="js/template.js"></script>
        </footer>